* {
  margin: 0px auto;
}

/* header-section  */
.header-main {
  max-width: 100%;
  margin: 0px auto;
  padding: 16px;
}
.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-head li {
  list-style: none;
  gap: 20px;
}
.header-main ul a {
  text-decoration: none;
  color: black;
  padding-right: 20px;
}
.btn {
  padding: 12px 16px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  background-color: #469165;
  border-radius: 4px;
}
.btn:hover {
  transform: scale(1.15);
}
/* Access  part  */

.hero-section {
  height: 604px;
  width: 100%;
  background-image: url("./B13-A01-Knowledge-Vault/assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
}
.container {
  max-width: 1050px;
  margin: 0px auto;
}
.badge {
  display: inline-block;
  border: 1px solid #ffffff55;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
  color: #30b868;
  background-color: #ffffff;
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-desc {
  font-size: 18px;
  color: #cccccc;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  justify-content: center;
  width: 60%;
}

.btn-outline {
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

.btn-outline:hover {
  background: rgba(255, 255, 255, 0.1);
}
.green-text {
  color: #30b868;
}

/* card  */
.img-soon {
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 120px;
}
.img-soon:hover {
  transform: scale(1.15);
}
.img-prent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.titil {
  max-width: 1050px;
  margin: 0px auto;
  text-align: center;
  padding: 30px;
}
.text {
  padding-bottom: 44px;
}
.p {
  color: #627382;
}
/* parent-flex  */
.parent-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  gap: 20px;
}
.deseign {
  max-width: 1050px;
  margin: 0px auto;
}
.p-g {
  font-weight: bolder;
  font-size: 2.5rem;
  margin: 20px auto;
}
.icon-p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.mani-part-in {
  max-width: 1050px;
  margin: 0px auto;
  text-align: center;
  background-color: #f7f6f2;
  border-radius: 5px;
  margin-bottom: 120px;
}
.h1 {
  padding-top: 80px;
  padding-bottom: 20px;
}
/* footer */
.footer {
  background-color: #001931;
  color: white;
  padding: 40px 10% 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 80px;
  text-align: center;
}

.footer-logo img {
  height: 50px;
}

.social-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.icons a {
  color: white;
  margin-left: 15px;
  font-size: 20px;
  text-decoration: none;
}

.footer-divider {
  border: 0;
  border-top: 1px solid #1a2e44;
  margin-bottom: 20px;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
}
